<!-- APP COMMENTS -->
<div id="appComments" class="panel" ng-controller="appCommentsCtrl"
	menu-panel>

	<div class="panel_header">
		<h3 class="title">Comentarios</h3>
		<h4 class="subtitle">de los usuarios sobre la app</h4>
		<div class="popup_closer" ng-click="closeAppComments()"></div>
	</div>

	<div class="panel_body">
	<div class="arrow_separator"></div>
		<div class="panel_option">
			<h4 class="comments_title"><span>Sobre:</span> {{selectedApp.title}}</h4>
			<div class="comment"
				ng-repeat="comment in selectedApp.comments | orderBy: '-last_modified'"
				ng-click="mostrarDetalleAplicacion(app)">
				<div class="map_name_list">
					<p class="complait_title">{{comment.user}} - {{comment.date}}</p>
				</div>
				<div class="comment_rate">
						<img ng-src="./img/rating_1.png"/ ng-if="selectedApp.ratting == 0 || selectedApp.ratting == null">
						<img ng-src="./img/rating_1.png"/ ng-if="selectedApp.ratting ==1">
						<img ng-src="./img/rating_2.png"/ ng-if="selectedApp.ratting ==2">
						<img ng-src="./img/rating_3.png"/ ng-if="selectedApp.ratting ==3">
						<img ng-src="./img/rating_4.png"/ ng-if="selectedApp.ratting ==4">
						<img ng-src="./img/rating_5.png"/ ng-if="selectedApp.ratting ==5"> 
				</div>
				<p>
				<div class="date comment_text">
					<span></span> {{comment.text}}
				</div>				
				</p>
			</div>
		</div>
	</div>

</div>
