<!-- APP DETAILS -->

<div id="appDetails" class="panel" ng-controller="appsDetailsCtrl"
	menu-panel>

	<div class="panel_header">
		<h3 class="title">Detalle</h3>
		<h4 class="subtitle">de la aplicación</h4>
		<div class="popup_closer" ng-click="closeAppDetails()"></div>
	</div>

	<div class="panel_body">
		<div class="arrow_separator"></div>
		<div class="panel_option">

			<div class="comment">
				<h5 class="app_title_detail">{{selectedApp.title}}</h5>
				<p>
					<span ng-bind-html="selectedApp.description" /><div
							class="develop">
							<span class="developer">Desarrollador:</span>
							{{selectedApp.author}}
						</div>
						<div class="date_platform platforms">
							<span class="platform_label">Plataforma:</span><span
								class="available android" ng-if="existePara('Android')"> android</span><span
								class="available iphone" ng-if="existePara('iPhone')"> Iphone</span>
						</div>
				</p>

				<div class="app_screens">
					<img ng-src="{{selectedApp.imagen_t}}" /> <img
						ng-src="{{selectedApp.QRAndroid_t}}" />
				</div>
				<div class="share_box">
					<div class="label_comparte">Si te gusta, comparte:</div>
					<div class="social facebook_bg" ng-click="abrirPaginaNavegadorFB('191888594872')"></div>
					<div class="social twitter_bg" ng-click="abrirPaginaNavegadorTW('zaragoza_es')"></div> 
					<div class="social gplus_bg" ng-click="abrirPaginaNavegadorGP('104885731119124019660')"></div>
					<div class="social linked_bg" ng-click="abrirPaginaNavegadorLI('zaragozactiva')"></div>
				</div>
			</div>

			<div class="new_poi_buttons cent">
				<a class="update_button" ng-click="verComentarios()">Ver comentarios</a>
				<a class="update_button" ng-click="instalarAplicacion()">Instalar </a>
			</div>
		</div>
	</div>
</div>

</div>
