<!-- WRITE COMMENT -->
<div ng-controller="appRatingCtrl">
	<div id="appRating">
		<div class="panel">
			<div class="panel_header">
				<h3 class="title">Valoración</h3>
				<h4 class="subtitle">opina sobre la aplicación</h4>
				<div class="popup_closer" ng-click="closeAppRating()"></div>
			</div>

			<div class="panel_body">
				<div class="arrow_separator"></div>
				<form name="newUserForm" method="post">
					<div class="panel_option">
						<h4 class="comments_title">
							<span>Sobre:</span> {{selectedApp.title}}
						</h4>
						<div class="form_line">
							<div class="form_box_left">
								<label>Nombre:</label>
							</div>
							<div class="form_box_right">
								<input type="text" class="username_icon"
									placeholder="Obligatorio" ng-model="review">
								<option ng-repeat="appRating in appRatings"
									value="{{appRating}}">{{item}}</option>
								</input>
							</div>

						</div>

						<div class="form_line">
							<div class="form_box_left">
								<label>Comentario:</label>
							</div>
							<div class="form_box_right">
								<textarea class="body_comentario" ng-model="comment" required></textarea>
							</div>
						</div>

					</div>

					<div class="save_profile">
						<div class="update_button" ng-click="sendRatting()">Publicar</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
