<div id="categories" class="panel contenedor" ng-controller="categoriesCtrl">
    <header>
        <div class="icono_menu" ng-click="clickMenuIcon()">
            <img src="img/menu.svg">
        </div>
        <h1>Categorias</h1>
    </header>

    <ul class="lista_cat">
        <li  ng-click="viewPolls('propuesta')">
            <h2>Propuestas</h2>
            <p> Propuestas creadas por la ciudadan&iacute;a. </p>
            <div class="tag"><span>{{numPropuestas}}</span> Propuestas</div>
        </li>
         <li  ng-click="viewPolls('plan')">
            <h2>Plan Director</h2>
            <p> Propuestas relacionadas con el plan director del ayuntamiento.</p>
            <div class="tag"><span>{{numPlanes}}</span> Planes</div>
        </li>
         <li  ng-click="viewPolls('encuesta')">
            <h2>Encuesta Ciudadana</h2>
            <p> Encuestas creadas por el ayuntamiento para recoger la opini&oacute;n de la ciudadan&iacute;a. </p>
            <div class="tag"><span>{{numEncuestas}}</span> Encuestas</div>
        </li>
         <li  ng-click="viewPolls('otros')">
            <h2>Otros</h2>
            <p> Propuestas que no se catalogan en ninguna categor&iacute;a. </p>
            <div class="tag"><span>{{numOtros}}</span> Propuestas</div>
        </li>
    </ul>
</div>