<div id="pollList" class="panel contenedor" ng-controller="menuCtrl">
    <header>
        <div ng-show="!estaCategoriaAbierta" class="icono_menu" ng-click="clickMenuIcon()">
            <img src="img/menu.svg">
        </div>
        <div ng-show="estaCategoriaAbierta" class="icono_menu volverCategoria" ng-click="clickBackOn('pollList')">
            <img src="img/volver.svg">
        </div>
        <h1 ng-show="!estaCategoriaAbierta">Propuestas</h1>
        <h1 ng-show="estaCategoriaAbierta">{{categoria}}</h1>

        <button ng-show="!estaCategoriaAbierta" ng-click="openConfig()" style="background: url(img/settings.svg) no-repeat center; width: 38px; height: 38px;padding: 0px;margin-right: 4em;margin-top: 5px;border-radius: 4px;float: right;" /></button>
        
        <button id="refresh" ng-show="!estaCategoriaAbierta" ng-click="refresh()" style="background: url(img/refresh.svg) no-repeat center; width: 38px; height: 38px;padding: 0px;margin-right: 1.5em;margin-top: 5px;border-radius: 4px;float: right;"></button>

        
        
        <!-- <span class="numElementos">({{encuestas.length}})</span> -->
        <div style="background: transparent url(&quot;../www/img/fondo_tag.png&quot;) no-repeat scroll left top; color: rgb(255, 255, 255); position: absolute; right: 0px; top: 0.5em; text-align: right; line-height: 2.2em; padding: 0px 0.5em 0px 2em;" class="tag"><span class="ng-binding">{{encuestasFiltradas.length + encuestasFiltradasCerradas.length}}</span></div>
    </header>

	<ul class="lista_poll"  >
      <li ng-repeat="poll in encuestasFiltradas = (encuestas | filter:criteriaMatch()) | orderBy:'creationDate':true" >
			<div id="indexpoll_{{$index}}"  ng-click="showPollopt(poll, $index)">
				<div class="elemento_poll">
					<h2 ng-bind-html="poll.title"></h2>
					<dl>
						<dt>Fecha:</dt>
						<dd>{{poll.creationDate | date:'yyyy-MM-dd'}}</dd>
					</dl>

				</div>
				<div class="votos">
					<img  ng-if="!isClosed(poll.end)" src="img/icono_poll.svg" alt="">
					<img  ng-if="isClosed(poll.end)" src="img/candado.png" alt="" style="width:20px; margin-top: 20px;margin-bottom: 20px;">
					<div class="num_votos">
						<img ng-if="!poll.votoUsuario" src="img/voto.svg"> <img
							ng-if="poll.votoUsuario" src="img/voto_activo.svg">
						<p ng-if="poll.votosAFavor || poll.votosEnContra">{{poll.votosAFavor
							+ poll.votosEnContra}}</p>
						<p ng-if="!poll.votosAFavor && !poll.votosEnContra">0</p>
					</div>
				</div>
				<div id="indexpollvotar_{{$index}}" class="votar">
					<div class="result" ng-click="showResults(poll)">
						<a>resultados</a>
					</div>
					<div class="vote" ng-click="showDetails(poll)">
						<a>detalle</a>
					</div>
				</div>
			</div>
		</li>  



		      <li ng-repeat="poll in encuestasFiltradasCerradas = (encuestas | filter:criteriaMatchCerradas()) | orderBy:'creationDate':true" >
			<div id="indexpoll_{{$index}}"  ng-click="showPollopt(poll, $index)">
				<div class="elemento_poll">
					<h2 ng-bind-html="poll.title"></h2>
					<dl>
						<dt>Fecha:</dt>
						<dd>{{poll.creationDate | date:'yyyy-MM-dd'}}</dd>
					</dl>

				</div>
				<div class="votos">
					<img  ng-if="!isClosed(poll.end)" src="img/icono_poll.svg" alt="">
					<img  ng-if="isClosed(poll.end)" src="img/candado.png" alt="" style="width:20px; margin-top: 20px;margin-bottom: 20px;">
					<div class="num_votos">
						<img ng-if="!poll.votoUsuario" src="img/voto.svg"> <img
							ng-if="poll.votoUsuario" src="img/voto_activo.svg">
						<p ng-if="poll.votosAFavor || poll.votosEnContra">{{poll.votosAFavor
							+ poll.votosEnContra}}</p>
						<p ng-if="!poll.votosAFavor && !poll.votosEnContra">0</p>
					</div>
				</div>
				<div id="indexpollvotar_{{$index}}" class="votar">
					<div class="result" ng-click="showResults(poll)">
						<a>resultados</a>
					</div>
					<div class="vote" ng-click="showDetails(poll)">
						<a>detalle</a>
					</div>
				</div>
			</div>
		</li>



    </ul>
</div>