<div id="login" class="panel contenedor" ng-controller="loginCtrl">
    <header>
        <div class="icono_menu" ng-click="clickMenuIcon()">
            <img src="img/menu.svg">
        </div>
        <h1>Login</h1>
    </header>
    <div class="contenido login">
        <p>Utiliza tu usuario para logarte</p>
        <form name="loginForm" enctype="multipart/form-data" method="post">

            <div class="linea_formulario">
                <input type="text" ng-model="loginData.email" placeholder="Correo electr&oacute;nico">
            </div>
            <div class="linea_formulario">
                <input type="password" ng-model="loginData.password" placeholder="Contrase&ntilde;a">
            </div>
            <div class="linea_formulario">
                <input type="submit" ng-click="userLogin()" value="Login">
            </div>

        </form>
<!--         <div class="facebook"><a href="#">Login con Facebook</a>
        </div>
        <div class="twitter"><a href="#">Login con Twitter</a>
        </div>
        <div class="google"><a href="#">Login con Google</a>
        </div> -->
        <div class=userNuevo ng-click="openNewUserPanel()" class="nuevoUsuario"><a href="#">Nuevo Usuario</a>
        </div>
    </div>
</div>