
<div ng-controller="MainCtrl">

	<!-- Swipeable menu -->
	<div ng-include src="'partials/nav.html'" menu-panel></div>

	<!-- Poll List-->
	<div ng-include src="'partials/index.html'" pollList-panel></div>

	<!-- My Polls-->
	<div ng-include src="'partials/mypolls.html'" mypolls-panel></div>
	
	<!-- Poll Results-->
	<div ng-include src="'partials/poll_results.html'" results-panel></div>
	
	<!-- Poll Details-->
	<div ng-include src="'partials/poll_detalle.html'" details-panel></div>
	
	<!-- Categories-->
	<div ng-include src="'partials/categories.html'" categories-panel></div>
	
	<!-- Login-->
	<div ng-include src="'partials/login.html'" login-panel></div>
	
	<!-- New Poll-->
	<div ng-include src="'partials/newpoll.html'" newpoll-panel></div>
	
	<!-- New user -->
	<div ng-include src="'partials/newUser.html'" new-user-panel></div>

	<!-- Configuracion -->
	<div ng-include src="'partials/configuracion.html'" configuracion-panel></div>
	
</div>
