<div id="newpoll" class="panel contenedor" ng-controller="newpollCtrl">
    <header>
        <div class="icono_menu" ng-click="clickMenuIcon()">
            <img src="img/menu.svg">

		</div>
		<h1>Nueva Propuesta</h1>
	</header>
	<div class="contenido newpoll">
		<form name="newpollForm" method="post" novalidate>

		<!-- TITLE -->
        <div class="form-group linea_formulario" ng-class="{ 'has-error' : newpollForm.title.$invalid && !newpollForm.title.$pristine }">
            <input type="text" placeholder="Nombre" name="title" class="form-control" ng-model="newpoll.title" ng-minlength="10" ng-maxlength="200">
                </div>
		  <!-- DESCRIPTION -->
		<div class="form-group linea_formulario" ng-class="{ 'has-error' : newpollForm.description.$invalid && !newpollForm.description.$pristine }">
            <textarea placeholder="Descripci&oacute;n" name="description" class="form-control" ng-model="newpoll.description" ng-minlength="10" ng-maxlength="500">
            </textarea>
          </div>

          		<!-- BARRIO -->
		<p>Seleccione un barrio:</p>
		<select ng-model="barrios.selectedOption" ng-options="barrio for barrio in barrios.availableOptions" style="height: 2em; margin-bottom: 15px">
		</select>


			<div class="linea_formulario" ng-click="createPoll()">
				<input type="submit" value="Crear">
			</div>

        </form>
    </div>
</div>