@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: normal;
  src: local('Open Sans'), local('Open Sans'), url(../fonts/OpenSans-Regular.ttf);
}

@font-face {
  font-family: 'Open Sans bold';
  font-style: normal;
  font-weight: normal;
  src: local('Open Sans bold'), local('Open Sans bold'), url(../fonts/OpenSans-Bold.ttf);
}

@font-face {
  font-family: 'Open Sans extra-bold italic';
  font-style: normal;
  font-weight: normal;
  src: local('Open Sans extra-bold italic'), local('Open Sans extra-bold italic'), url(../fonts/OpenSans-ExtraBoldItalic.ttf);
}

html {
  padding-top: 3em;
}

body {
  font-family: 'Open Sans', sans-serif;
}

a {
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

header {
  border-bottom: solid 5px #c6c6c6;
  height:3em;
  width: 100%;
  background: -webkit-linear-gradient(top, #d1d1d1 0%, #ffffff 50%);
  background: linear-gradient(to bottom, #d1d1d1 0%, #ffffff 50%);
  z-index: 999;
}

header .icono_menu {
  float: left;
}

header .icono_menu img {
  padding: 1.2em 0.5em .5em 0.4em;
  margin-top: -.3em
}

header .menu_aux {
  position: absolute;
  right: 0;
  top: 0;
  padding: 1em 2em;
  z-index: 20;
}

h1 {
  font-family: 'Open Sans bold', sans-serif;
  font-size: 1.3em;
  margin: .5em 0 .3em;
  font-weight: normal;
  float: left;
}

.filter {
  position: absolute;
  right: 1em;
  top: 0.5em;
  -webkit-box-shadow: 0px 0px 5px 4px rgba(50, 50, 50, 0.4);
  box-shadow: 0px 0px 5px 4px rgba(50, 50, 50, 0.4);
  background: #fff;
  z-index: 15;
  width: 220px;
  display: none;
}

.filter h2 {
  font-size: 1.1em;
  margin: 0;
  font-weight: bold;
  border-bottom: solid 2px #c6c6c6;
  padding: .5em;
}

.filter dl {
  padding: 1em;
  font-size: 15px;
  margin: 0;
}

.filter dt {
  color: #6c6c6c;
  font-weight: normal;
}

.filter dd {
  margin: 0;
  color: black;
  position: relative;
  margin: 0.5em 0 1em .5em;
}

.filter select {
  width: 100%;
  border: none;
  border-bottom: solid 1px black;
  -webkit-appearance: none;
  background: none;
  padding: .5em .3em 0;
  outline-color: transparent;
}

.filter dd::after {
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-right: 8px solid #000;
  content: ' ';
  position: absolute;
  right: 0;
  bottom: 0;
  -webkit-transform: rotate(225deg);
  transform: rotate(225deg);
}

.filtro {
  background: #ebebeb;
  padding: 0.6em;
  margin: 0;
  font-size: 1.1em;
  position: relative;
  display: none;
}

.filtro dt {
  color: #999999;
  float: left;
  padding-left: 1em;
  margin-left: .5em;
  margin-right: 1em;
  background: url(../img/tree.svg) no-repeat left center;
}

.filtro dd {
  color: #000000;
  font-weight: bold;
}

.filtro .cerrar {
  position: absolute;
  top: 25%;
  right: 1em;
}
/** Menú **/

#menu {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: transparent;
  z-index: -1;
  -webkit-transition: z-index .3s ease;
  transition: z-index .3s ease;
}

#menu > ul {
  position: relative;
  background: url(../img/fondo_menu.png) no-repeat bottom right #fff;
  background-size: auto 200px;
  padding: 0 15px;
  margin: 0;
  width: 40%;
  height: 100%;
  -webkit-box-shadow: 30px 0px 28px 12px rgba(50, 50, 50, 0.5);
  box-shadow: 30px 0px 28px 12px rgba(50, 50, 50, 0.5);
  -webkit-transition: -webkit-transform .5s ease;
  transition: transform .5s ease;
  z-index: 100;
  -webkit-transform: translateX(-150%);
  transform: translateX(-150%);
}

#menu.open {
  z-index: 9999;
}

#menu.open > ul {
  -webkit-transform: translateX(0);
  transform: translateX(0);
}

/*#menu > ul > img {
  max-width: 85%;
  margin: 1em 0 0;
}*/

#menu > ul > img {
max-width: 75%;
padding: 1em 0 0;
display: block;
margin-left: auto;
margin-right: auto;
}

#menu > ul > li {
  list-style: none;
}

#menu > ul > li a {
  color: #666666;
  font-size: 1.1em;
  font-weight: bold;
  padding: 1em;
  display: block;
}
/** listado encuestas **/

.lista_poll {
  padding: 0;
  margin: 0;
  overflow-y: auto;
  overflow-x: hidden;
  height: calc(100% - 3em);
  max-width: 100%;
}

.lista_poll li {
  overflow-x: hidden;
  border-bottom: solid 1px #e5e5e5;
  list-style: none;
  position: relative;
}

.lista_poll li .elemento_poll {
  padding: 1em;
}

.lista_poll li h2 {
  margin: 0 0 .2em;
  font-weight: normal;
  font-size: 1.1em;
  padding-right: 5em
}

.lista_poll dl {
  margin: 0;
  padding-right: 5em;
  font-size: .9em;
}

.lista_poll dl dt {
  color: #6c6c6c;
  font-weight: normal;
  float: left;
}

.lista_poll dl dd {
  color: #af3156;
  margin-left: 6em;
}

.votos {
  position: absolute;
  top: .8em;
  right: .5em;
  width: 5em;
}

.votos img {
  float: left;
  margin-bottom: .4em;
  margin-right: 1em;
}

.num_votos img {
  display: block;
  margin-right: 5px;
  float: none;
}

.num_votos p {
  margin: 0;
  font-family: 'Open Sans bold', sans-serif;
  font-size: 1.2em;
  color: #999999;
  line-height: 1em;
}

.votar {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
}

.votar .vote {
  width: 50%;
  height: 100%;
  color: #fff;
  float: left;
  font-weight: bold;
  background: url(../img/mano.svg) no-repeat 1em center #C0002E;
  background-size: 50px;
}

.votar .result {
  width: 50%;
  height: 100%;
  background: url(../img/grafica.svg) no-repeat 1em center #34c2f0;
  background-size: 50px;
  color: #5b5b5b;
  float: left;
  font-weight: bold;
}

.votar a {
  padding-left: 5em;
  display: block;
  height: 100%;
  line-height: 5em;
  color: #fff;
}

.contenido {
  padding: 0 1.5em;
  overflow-y: auto;

}

#details .contenido {
  height: calc(100% - 14.5em);
}

.contenido a{
  color: #34c2f0;
}


h2 {
  margin: .5em 0;
  font-weight: normal;
  font-size: 1.3em;
}

p {
  font-size: .9em;
  color: #6c6c6c;
}

.slideIn {
  -webkit-animation-duration: .5s;
  animation-duration: .5s;
  -webkit-animation-name: slideIn;
  animation-name: slideIn;
  -webkit-transform: translateX(0);
  transform: translateX(0);
}

.votar.slideIn{
  font-size: 0.9em;
}

@-webkit-keyframes slideIn {
  0% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes slideIn {
  0% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

.slideOut {
  -webkit-animation-duration: .5s;
  animation-duration: .5s;
  -webkit-animation-name: slideOut;
  animation-name: slideOut;
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
}

@-webkit-keyframes slideOut {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}

@keyframes slideOut {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}
/** encuesta detalle **/

.encuestaDetalle dl {
  margin: 0;
  padding-right: 5em;
  font-size: .9em;
}

.encuestaDetalle dl dt {
  color: #6c6c6c;
  font-weight: normal;
  float: left;
}

.encuestaDetalle dl dd {
  color: #af3156;
  margin-left: 8.5em;
}


.voteOption::before {
  content: "";
  position: absolute;
  top: 0;
  left: 3em;
  border-left: 1em solid transparent;
  border-right: 1em solid transparent;
  border-top: 1em solid #fff;
}

.voteOption {
  height: 6em;
  background: url(../img/fondo_voteOption.png) repeat-x center bottom #F5F5F5;
  background-size: auto 6em;
  text-align: center;
  width: 100%;
  position: absolute;
  bottom: 4em;
  padding-top: 1em;
  z-index: 50;
  box-shadow: 0px -15px 15px 5px rgba(255,255,255,1);
  -webkit-box-shadow: 0px -15px 15px 5px rgba(255,255,255,1);
}

.voteOption a {
  color: #34c2f0;
  font-family: 'Open Sans extra-bold italic', sans-serif;
  font-size: 1.1em;
  display: block;
  width: 100%;
  text-align: center;
}

.voteOption a img {
  display: inline-block;
}

.voteOption a span {
  display: block;
  padding-top: 0.3em;
  padding-bottom: 1em;
}

.botonera {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 4em;
  z-index: 30;
}

.botonera .setVote {
  position: static;
  width: 50%;
  height: 100%;
  color: #fff;
  float: left;
  font-weight: bold;
  background: url(../img/set.svg) no-repeat right center #c3002f;
  /*z-index: 10;*/
}

.disable {
  background-color: #cfcfcf !important;
}

.disable a {
  cursor: default;
}

.botonera .result {
  width: 50%;
  height: 100%;
  background: url(../img/grafica.svg) no-repeat 1em center #34c2f0;
  color: #5b5b5b;
  float: left;
  font-weight: bold;
}

.botonera a {
  display: block;
  height: 100%;
  line-height: 5em;
  font-size: 0.9em
}

.botonera .setVote a {
  text-align: right;
  color: #ececec;
  padding-right: 4em;
}

.botonera .result a {
    color: #ffffff;
    padding-left: 3.8em;
}

.botonera .result::after {
  content: "";
  width: 0px;
  height: 0px;
  border-top: 4em solid #34c2f0;
  border-right: 2em solid transparent;
  position: absolute;
  right: calc(50% - 1em);
  bottom: 0px;
}

.botonera .setVote::before {
  content: "";
  width: 0px;
  height: 0px;
  border-bottom: 4em solid #c3002f;
  border-left: 2em solid transparent;
  position: absolute;
  left: calc(50% - 1em);
  bottom: 0px;
}

.botonera .setVote.disable::before {
  border-bottom-color: #cfcfcf;
}

.tap {
  color: #34c2f0;
  font-family: 'Open Sans bold', sans-serif;
  margin: 0;
  font-style: italic;
  margin-left: 2em;
}

.voteList {
  background: repeat-x center bottom #F5F5F5;
  background-size: auto 6em;
  position: relative;
  top: 1em;
  padding: 0 1.5em;
  counter-reset: elemento;
  list-style-type: none;
  margin: 0;
}

.voteList li:first-child a {
  padding: .5em 0 1em;
}

.voteList li a {
  padding: 1em 0;
  margin: 0.5em 0;
}

.voteList li a {
  text-align: left;
  display: block;
  color: #7c7c7c;
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  box-sizing: border-box;
}

.voteList li a::before {
  content: counter(elemento, lower-latin);
  counter-increment: elemento;
  background: #ccc;
  border-radius: 100%;
  border: solid 5px #fff;
  width: 2em;
  height: 2em;
  line-height: 2em;
  display: block;
  text-align: center;
  color: #fff;
  font-family: 'Open Sans bold', sans-serif;
  float: left;
  margin-right: 1em;
}

.opcionSelec::before {
  content: "";
  background: #c3002f;
  border-radius: 100%;
  border: solid 5px #fff;
  width: 2em;
  height: 2em;
  line-height: 2em;
  display: block;
  text-align: center;
  color: #fff;
  font-family: 'Open Sans bold', sans-serif;
  float: left;
  margin-right: 1em;
}

.opcionSelec {
  font-weight: bold;
  text-align: left;
  padding: 0 1.5em
}

.encuestaOpciones {
  display: none;
}

.enviado {
  text-align: left;
  position: absolute;
  top: 3em;
  right: 1em;
  background: #c3002f;
  color: #fff;
  width: 11em;
  padding: .5em 1em;
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
  opacity: 0;
  visibility: hidden;
  transition: transform .5s cubic-bezier(.43, .14, .35, 1.33) .5s, opacity .5s .5s;
}

.popover {
  -webkit-transform: translateY(0);
  transform: translateY(0);
  opacity: 1;
  visibility: visible;
}

.enviado::after {
  content: "";
  position: absolute;
  bottom: -.5em;
  right: .5em;
  border-left: .5em solid transparent;
  border-right: .5em solid transparent;
  border-top: .5em solid #c3002f;
}



form[name=newpollForm] input[type=submit] {
  background: #34c2f0;
  border: none;
  color: #fff;
  padding: .5em 1em;
  font-weight: bold;
  margin-top: 0.5em
}

form[name=newpollForm]{
  margin-top: 1.5em;
}

form[name=newpollForm] textarea{
  border: solid 1px #ececec;
  background: none;
  width: 100%;
  height: 7em;
}

.comentarios, .comentarios ul {
    list-style: none;
    padding: 0;
    overflow: hidden;
}


.comentarios li {
    margin: 1em 0 2em;
    padding-left: 3em;
    
}
.comentarios p {
    margin-bottom:  0;
}

.comentarios .usuario{
    text-align: right;
    color: #af3156;
    margin: 0 0 1em;
}

.voto_comentario li{
    float: left;
    margin-right: .5em;
    font-size: 0.9em;
    padding: 0.5em 1em;
}

.favor{
    background: #34C2F0;
    color: #fff;
    padding: 0.3em 0.5em;
    font-weight: bold;
    margin-top: 0.5em;
    cursor: pointer;
}


.contra{
    background: #c3002f;
    color: #fff;
    padding: 0.3em 0.5em;
    font-weight: bold;
    margin-top: 0.5em;
    cursor: pointer;
}


/** listado categorias **/

.lista_cat {
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.lista_cat li {
  border-bottom: solid 2px #dbdbdb;
  list-style: none;
  position: relative;
  padding: 1em 1em 0;
  background: url(../img/fondo_categoria.png) repeat-x bottom left;
  background-size: 365px;
}

.lista_cat li h2 {
  margin: 0 0 .2em;
  font-weight: normal;
  font-size: 1.2em;
  padding-right: 5em
}

.lista_cat li p {
  margin-top: .5em;
}

.lista_cat .tag {
  background: url(../img/fondo_tag.png) no-repeat right top;
  color: white;
  position: absolute;
  right: 0;
  top: 0.5em;
  text-align: right;
  padding: 0 1em 0 4.5em;
  line-height: 2.2em;
}

.lista_cat .tag span {
  font-family: 'Open Sans bold', sans-serif;
}
/** mapa **/

.mapa::before {
  content: "";
  position: absolute;
  top: 0;
  left: 3em;
  border-left: 1em solid transparent;
  border-right: 1em solid transparent;
  border-top: 1em solid #fff;
}

.mapa {
  position: absolute;
  top: 0;
  overflow: hidden;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
}

.mapaInfo {
  text-align: center;
  position: absolute;
  bottom: 0;
  background: #f5f5f5;
  width: 100%;
  height: 4em;
  z-index: 50;
}

.mapaInfo p {
  color: #b1b1b1;
  font-style: italic;
  padding: .5em;
}

.mapaInfo p.descripcion {
  display: none;
  color: #666;
  font-style: normal;
  margin: 0;
  text-align: left;
  padding: .5em 1em;
}

.set {
  height: 3.5em;
  display: none;
  border-bottom: solid 1px #e1e1e1;
}

.set p {
  color: #666;
  font-weight: normal;
  text-align: left;
  padding: 0.5em 1.5em;
  font-style: normal;
  margin: 0;
  width: 70%;
  float: left;
  box-sizing: border-box;
}

.set p::before {
  content: "b";
  background: #ccc;
  border-radius: 100%;
  border: solid 5px #fff;
  width: 2em;
  height: 2em;
  line-height: 2em;
  display: block;
  text-align: center;
  color: #fff;
  font-family: 'Open Sans bold', sans-serif;
  float: left;
  margin-right: 1em;
}

.set a {
  width: 30%;
  color: #fff;
  float: left;
  font-weight: bold;
  background: url(../img/flecha_dch.svg) no-repeat 90% center #c3002f;
  height: 100%;
  line-height: 3.5em;
  position: relative;
}

.set a::before {
  content: "";
  width: 0px;
  height: 0px;
  border-bottom: 3.5em solid #c3002f;
  border-left: 1.75em solid transparent;
  position: absolute;
  left: -1.75em;
  bottom: 0px;
}

.mapa ul li a {
  background-color: #999;
  border-radius: 100%;
  border: solid 5px #fff;
  width: 2em;
  height: 2em;
  line-height: 2em;
  display: block;
  text-align: center;
  color: #fff;
  font-family: 'Open Sans bold', sans-serif;
}

.mapa ul .a {
  position: absolute;
  top: 200px;
  left: 254px;
}

.mapa ul .b {
  position: absolute;
  top: 106px;
  left: 137px;
}

.mapa ul .c {
  position: absolute;
  top: 50px;
  left: 100px;
}

.mapa ul .d {
  position: absolute;
  top: 100px;
  left: 250px;
}

.seleccionado {
  background-color: #c3002f !important;
}

.mapa a.addButton {
  position: absolute;
  bottom: .5em;
  left: 2em;
  display: inline;
  width: auto;
}
/** resultados encuesta **/

.voteResults::before {
  content: "";
  position: absolute;
  top: 0;
  left: 3em;
  border-left: 1em solid transparent;
  border-right: 1em solid transparent;
  border-top: 1em solid #fff;
}

.voteResults {
  background: url(../img/fondo_voteOption.png) repeat-x center bottom #F5F5F5;
  background-size: auto 6em;
  text-align: center;
  width: 100%;
  position: relative;
  padding-top: 0.5em;
  margin-top: 0.5em;
  padding-bottom: 2em;
  min-height: 250px;
}

.voteResults ul {
  float: left;
  list-style: none;
  padding-left: 1.5em;
}

.voteResults ul li {
  border: solid 1px #ececec;
  border-radius: 8px;
  padding: 0.5em 1em;
  margin: 0.5em;
  color: #999;
  font-weight: bold;
  line-height: 2em;
}

.voteResults ul li span {
  border-radius: 100%;
  width: 2em;
  height: 2em;
  line-height: 2em;
  display: block;
  text-align: center;
  color: #fff;
  font-family: 'Open Sans bold', sans-serif;
  float: left;
  margin-right: 1em;
}

.selec {
  background: #ececec;
}

.resultado_1 {
  background: #97BBCD;
}

.resultado_2 {
  background: #DCDCDC;
}

.resultado_3 {
  background: #83d7f2;
}

.resultado_4 {
  background: #66c;
}

.rueda {
  width: 200px;
  margin-top: 2em;
  opacity: .7;
}

.resultInfo::before {
  content: "";
  position: absolute;
  top: -1em;
  left: 3em;
  border-left: 1em solid transparent;
  border-right: 1em solid transparent;
  border-bottom: 1em solid #fff;
}

.resultInfo {
  padding: .5em 1em;
  position: relative;
}

.resultInfo span {
  border-radius: 100%;
  width: 2em;
  height: 2em;
  line-height: 2em;
  display: block;
  text-align: center;
  color: #fff;
  font-family: 'Open Sans bold', sans-serif;
  float: right;
  font-size: 1.1em;
  margin-right: 1em;
}

/** login **/
.login {
  text-align: center;
}

.login p {
  font-style: italic;
  padding-top: 1em;
}

.login form {
  margin: 2em 0;
}

.linea_formulario {
  padding: .5em 0;
}

.login input[type=text],
.login input[type=password] {
  border: none;
  border-bottom: solid 1px #ececec;
  background: none;
  text-align: center;
  width: 100%;
}

.login input[type=submit] {
  background: #34c2f0;
  border: none;
  color: #fff;
  padding: .5em 2em;
  font-weight: bold;
  margin-top: 0.5em
}

.facebook {
  border-left: solid 15px #0066cc;
}

.twitter {
  border-left: solid 15px #34c2f0;
}

.google {
  border-left: solid 15px #c3002f;
}

.facebook,
.twitter,
.google,
.userNuevo {
  background: #ececec;
  padding: 1em 0;
  margin: .4em 0
}

.facebook a,
.twitter a,
.google a {
  color: #4c4c4c;
  font-size: 1.1em;
}

.userNuevo a {
  font-size: 1.1em;
  font-weight: 600;
}

/**  Nueva propuesta **/
.newpoll{
  text-align: center;
}

.newpoll p {
  font-style: italic;
  /*padding-top: 1em;*/
}

.newpoll input[type=text], .newpoll input[type=password], .newpoll textarea {
  border: none;
  border-bottom: solid 1px #ececec;
  background: none;
  text-align: center;
  width: 100%;
}

.newpoll input[type=submit] {
  background: #34c2f0;
  border: none;
  color: #fff;
  padding: .5em 2em;
  font-weight: bold;
  margin-top: 0.5em
}

/********************************
 * 
 * VOTING PANELS
 *
 ********************************/
#pollList {
	position: absolute;
	width: 100%;
	height: 100%;
	background: #FFF;
	z-index: 200;
	overflow: hidden;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	-webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	-ms-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	transition: all 0.4s ease;
	clear: both;
	left: 0;
	top: 0;
	
}

#mypolls, #login, #newpoll, #details, #results, #categories, #configuracion {
	position: absolute;
	width: 100%;
	height: 100%;
	background: #FFF;
	z-index: 999;
	overflow: hidden;
	-webkit-transform: translate3d(0, -100%, 0);
	transform: translate3d(0, -100%, 0);
	-webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	-ms-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	transition: all 0.4s ease;
	clear: both;
	left: 0;
	top: 0;
	
}
/*
#details {
	position: absolute;
	width: 100%;
	height: 100%;
	background: #FFF;
	z-index: 999;
	overflow: hidden;
	-webkit-transform: translate3d(100%, 0, 0);
	transform: translate3d(100%, 0, 0);
	-webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	-ms-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	transition: all 0.4s ease;
	clear: both;
	left: 0;
	top: 0;
	
}

#results {
	position: absolute;
	width: 100%;
	height: 100%;
	background: #FFF;
	z-index: 999;
	overflow: hidden;
	-webkit-transform: translate3d(100%, 0, 0);
	transform: translate3d(100%, 0, 0);
	-webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	-ms-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	transition: all 0.4s ease;
	clear: both;
	left: 0;
	top: 0;
	
}

#categories {
	position: absolute;
	width: 100%;
	height: 100%;
	background: #FFF;
	z-index: 999;
	overflow: hidden;
		-webkit-transform: translate3d(0, -100%, 0);
	transform: translate3d(0, -100%, 0);
	-webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	-ms-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	transition: all 0.4s ease;
	clear: both;
	left: 0;
	top: 0;
	
}

*/

.chart-container {
    height: 240px;
    margin: 0;
    padding: 0;
    position: absolute;
    right: -120px;
    text-align: right;
    width: 480px;
	top:30px;
}

.chart-total {
    color: #999;
    font-weight: bold;
    position: absolute;
    right: 93px;
    text-transform: uppercase;
    top: 100px;
}

.chart-total span {font-size:23px;}











/* ################################################################################################### */


/************ NEW USER *********/



 #new_user{
  text-align: center;
} 

#new_user p {
  font-style: italic;
  padding-top: 1em;
}

#new_user input[type=text], #new_user input[type=password], #new_user textarea {
  border: none;
  border-bottom: solid 1px #ececec;
  background: none;
  text-align: center;
  width: 100%;
}

#new_user .update_button {
  background: #34c2f0;
  border: none;
  color: #fff;
  padding: .5em 2em;
  font-weight: bold;
  margin-top: 0.5em;
  	margin: auto;
	padding: 1em;
	width: 11em;
}



#my_profile,#new_user {
	position: absolute;
	width: 100%;
	height: 100%;
	background: #FFF;
	z-index: 999;
	overflow: hidden;
	-webkit-transform: translate3d(0, -100%, 0);
	transform: translate3d(0, -100%, 0);
	-webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	-ms-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	transition: all 0.4s ease;
	clear: both;
	left: 0;
	top: 0;
}

form[name="newUserForm"]{
	padding: 0 1.5em;
	overflow-y: auto;
}

form[name="newUserForm"] input[type="submit"] {
    background: #34C2F0 none repeat scroll 0% 0%;
    border: medium none;
    color: #FFF;
    padding: 0.5em 1em;
    font-weight: bold;
    margin-top: 0.5em;
}

.popup_closer {
    background: transparent url("../img/close_popup_button.png") no-repeat scroll center center;
    float: right;
    height: 2.5em;
    padding: 1em 1em 1em 0.2em;
    width: 3.6em;
}

#my_profile input[type=text],#new_user input[type=text],#new_user input[type=password],#my_profile input[type=password]
	{
/*  	background: url(../img/input_bg.png) no-repeat scroll 0.5em center #fff;
 	border: 3px solid #DDD; 
	height: 2.4em;
	margin: 0.5em;
  	padding-left: 2.5em;
	width: 100%;
	font-family: 'Open Sans';
	font-size: 18px;
	border-radius: 10px !important;
	box-shadow: none;
	text-align: left;  */
	font-size: 16px;
	font-family: 'Open Sans', 'sans-serif';
}

.panel_body {
	height: 93%;
	width: 100%;
	overflow-y: scroll;
	float: left;
	-webkit-overflow-scrolling: touch;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

.panel {
	float: left;
	left: 0;
	height: 100%;
	margin-left: 0;
	width: 100%;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
	-webkit-overflow-scrolling: touch;
	overflow: hidden;
}

.dash_icon {
	background: url("../img/dashboard_icon.png") no-repeat scroll 1em 0.5em
		rgba(0, 0, 0, 0);
}



.panel_header {
	width: 100%;
	background: none repeat scroll 0 0 #34C2F0;
/* 	border-bottom: 3px solid #34C2F0; */
/* 	height: 4.2em;
	padding-top: 0.4em; */
	float: left;
}

.panel_header h3 {
	color: #FFFFFF;
	float: left;
	font-family: 'Open Sans';
	font-size: 1.3em;
	padding-left: 0.6em;
	padding-top: 1em;
	padding-bottom: 1em;
	margin: 0;
}

.panel_option {
	float: left;
	padding: 1em 0;
	width: 100%;
}

.menu_back {
	background: url("../img/menu_back.png") no-repeat scroll 0.5em 0.7em
		rgba(0, 0, 0, 0);
	float: left;
	height: 3.5em;
	width: 5em;
}

#my_profile h4,#new_user h4 {
	clear: both;
	color: #C63E28;
	font-family: 'Open Sans';
	font-size: 18px;
	height: 1.5em;
	margin-bottom: 0.3em;
	margin-left: 2%;
	margin-top: 0.5em;
	padding-left: 2.5em;
	padding-top: 0.2em;
	text-align: left;
	width: 90%;
}


#my_profile p,#new_user p {
	color: #999999;
	font-family: 'Open Sans';
	font-size: 0.9em;
	line-height: 1.3;
	margin-bottom: 0.5em;
	margin-left: 4.3em;
	width: 80%;
}

#my_profile input[type=button],#new_user input[type=button] {
	background-color: #B8D8F0;
	border: medium none;
	border-radius: 6px 6px 6px 6px;
	color: #2676AE;
	font-family: 'Open Sans';
	font-size: 18px;
	margin: auto;
	padding: 0.3em 0.5em;
}


.form_line {
	clear: both;
	float: left;
	width: 100%;
	padding: 0.7em 0px;
}

.form_box_left {
	float: left;
	margin-left: 6em;
	padding-top: 1.3em;
	width: 30%;
}

.form_box_right {
	width: 50%;
	float: left;
}

.save_profile {
	float: left;
	padding-top: 1em;
	text-align: center;
	width: 100%;
	padding-bottom: 1em;
	height: 4em;
	margin-bottom: 2em;
}

/* .update_button {
	background: none repeat scroll 0 0 #C63E28;
	border-radius: 3px;
	color: #FFFFFF;
	font-family: 'Open Sans';
	margin: auto;
	padding: 1em;
	width: 11em;
} */



/********* DISABLED STYLES FOR MY PROFILE *********/

.panel_option  label {
	font-family: 'Open Sans';
	font-size: 18px;
	color: #C63E28;
	font-weight: bold;
	width: 100%;
}


.form_box_right a {
	border-bottom: 1px dotted;
	color: #C63E28;
	font-family: 'Open Sans';
	font-size: 16px;
	margin-left: 0.6em;
	padding-bottom: 0.1em;
	width: 100%;
}





@media only screen and (min-device-width: 1600px) and
	(orientation:landscape) {
	
	
	
	#my_profile p,#new_user p {
		width: 85%;
		margin-left: 4.85em;
	}
	
}

@media only screen and (min-device-width: 1240px) and
	(orientation:landscape) {
	
	#my_profile p {
		width: 85%;
		margin-left: 4.85em;
	}

}

/***** MEDIA QUERIES FOR IPHONE ****/
/* @media only screen and (min-width : 320px) and (max-width : 480px) {
	
	.form_box_left {
		width: 100%;
		margin-left: 0;
		text-align: center;
	}
	.form_box_right {
		width: 100%;
	}
	#my_profile p,#new_user p {
		margin-left: 0;
		width: auto;
	}
	.panel_option input[type="text"], .panel_option input[type="password"] {
		width: 93%;
		margin: 0.5em 0;
		text-align: center;
	}
	#my_profile h4,#new_user h4 {
		margin-left: 0;
		padding-left: 2em;
		margin-top: 0;
	}
	
} */



/***** ESTILOS TOAST CENTRADO ****/
#toast-container {
    margin: auto;
    top: 40%;
}

#toast-container .toast-info,
#toast-container .toast-error,
#toast-container .toast-success,
#toast-container .toast-warning {
    width: 75% !important;
	text-align: center;
	line-height: 1.6em;
}


header .numElementos {
    float: right;
    margin: 0.5em 0.4em 0.3em;
    font-weight: lighter;
    font-size: 1.3em;
    font-family: "Open Sans",sans-serif;
}


/*    SOCIAL SHARING */

    .social {
    float: left;
    height: 4em;
    margin-bottom: 1em;
    margin-left: 3%;
    margin-right: 2%;
    width: 20%;
}

.label_comparte {
    clear: both;
    float: left;
    font-family: open sans;
    font-weight: bold;
    margin-bottom: 1em;
    margin-top: 1em;
    padding-left: 0.7em;
    width: 100%;
}


.social_face_off{background: url(../img/social_face_off.png) no-repeat !important; background-size: auto 100% !important;}
.social_face_on{background: url(../img/social_face_on.png) no-repeat !important; background-size: auto 100% !important;}

.social_twitter_off{background: url(../img/social_twitter_off.png) no-repeat !important; background-size: auto 100% !important;}
.social_twitter_on{background: url(../img/social_twitter_on.png) no-repeat !important; background-size: auto 100% !important;}

.social_wat_off{background: url(../img/social_wat_off.png) no-repeat !important; background-size: auto 100% !important;}
.social_wat_on{background: url(../img/social_wat_on.png) no-repeat !important; background-size: auto 100% !important;}

.social_share{background: url(../img/social_share.png) no-repeat !important; background-size: auto 100% !important;}

/*#details .social img {
  width: 85% !important;
  height: auto !important;
  border-radius: 0 !important;
  margin-left: 0 !important;
  max-height: none !important;
}*/
#details .social img {
width: 85% !important;
height: auto !important;
border-radius: 0 !important;
margin-left: auto !important;
margin-right: auto !important;
max-height: none !important;
display: block;
}


/*CONFIGURACION*/

#configuracion label{
  display: block;
  border-bottom: 1px solid black;
}

.config {
  text-align: center;
}

.config p {
  font-style: italic;
  padding-top: 1em;
}

.config form {
  margin: 2em 0;
}


.config input[type=text],
.config input[type=password] {
  border: none;
  border-bottom: solid 1px #ececec;
  background: none;
  text-align: center;
  width: 100%;
}

.config input[type=submit] {
  background: #34c2f0;
  border: none;
  color: #fff;
  padding: .5em 2em;
  font-weight: bold;
  margin-top: 0.5em
}
