<!-- APPS SEARCH -->
<meta charset="utf-8" />
<div id="appSearch" class="panel" ng-controller="appSearchCtrl">

	<div class="panel_header buscar_apps">
		<h3 class="title">BUSCADOR</h3>
		<h4 class="subtitle">Por criterios de búsqueda</h4>
	</div>

	<div class="panel_body">
		<div class="arrow_separator"></div>

		<div class="search_line">


			<input type="text" ng-model="byTitle"
				placeholder="Buscar por nombre..." />

		</div>

		<div class="panel_option">
			<div class="form_line">
				<div class="form_box_left categorias_label">
					<label class="">Filtrar por categoría:</label>
				</div>
				<ul id="listado_cats" class="form_box_right">
					<!-- 					<li class="light" ng-repeat="category in categories">{{category}}</li> -->
					<li
						ng-class="{'light': !category.selected, 'light cat_selected': category.selected}"
						ng-repeat="category in categories"
						ng-click="selectCagetory(category)">{{category.name}}</li>
				</ul>

			</div>
		</div>

		<div class="panel_option">
			<h4 class="personal">Resultados obtenidos</h4>
			<div class="comment"
				ng-repeat="app in iesCitiesApps | orderBy: '-last_modified' | filter:{title: byTitle}"
				ng-click="mostrarDetalleAplicacion(app)"
				ng-show="correspondeConCategoria(app)">
				<div class="map_name_list">
					<p class="complait_title">{{app.title}}</p>
				</div>
				<div class="app_box">
					<div class="app_thumb">
						<img src="./img/no_img.png" class="app_thumb_img">
					</div>
					<div class="date">
						<span class="category_span">{{obtenerCategoriaAplicacion(app)}}</span>
					</div>
					<div class="date">
						<span>Actualizado a:</span> {{app.last_modified |
						date:'dd/MM/yyyy'}}
					</div>

					<div class="date_platform platforms">
						<span class="available android" ng-if="existePara('Android',app)">android</span>
							<span class="available iphone" ng-if="existePara('iPhone',app)"> Iphone</span>
					</div>


					<div class="date">
						<img ng-src="./img/rating_1.png"/ ng-if="app.ratting == 0 || app.ratting == null">
						<img ng-src="./img/rating_1.png"/ ng-if="app.ratting ==1">
						<img ng-src="./img/rating_2.png"/ ng-if="app.ratting ==2">
						<img ng-src="./img/rating_3.png"/ ng-if="app.ratting ==3">
						<img ng-src="./img/rating_4.png"/ ng-if="app.ratting ==4">
						<img ng-src="./img/rating_5.png"/ ng-if="app.ratting ==5"> 
					</div>
				</div>
			</div>
		</div>
	</div>

</div>
