<!-- APPS LIST -->
<meta charset="utf-8" />
<div id="appsList" class="panel" ng-controller="appsListCtrl">

	<div class="panel_header lista_apps">
		<h3 class="title">APLICACIONES ZGZ</h3>
		<h4 class="subtitle">Lista de apps disponibles</h4>
	</div>

	<div class="panel_body">
		<div class="arrow_separator"></div>
		<div class="panel_option">
			<!-- 			<div class="search_widget">Search apps...</div> -->
			<div class="comment"
				ng-repeat="app in iesCitiesApps | orderBy: '-last_modified'"
				ng-click="mostrarDetalleAplicacion(app)">
				<div class="map_name_list">
					<p class="complait_title">{{app.title}}</p>
				</div>
				<div class="app_box">
					<div class="app_thumb">
						<img src="./img/no_img.png" class="app_thumb_img">
					</div>
					<div class="date">
						<span class="category_span">{{obtenerCategoriaAplicacion(app)}}</span>
					</div>
					<div class="date">
						<span>Actualizado a:</span> {{app.last_modified |
						date:'dd/MM/yyyy'}}
					</div>

					<div class="date platforms">
						<span class="available android" ng-if="existePara('Android',app)">ANDROID</span>
						<span class="available iphone" ng-if="existePara('iPhone',app)">IPHONE</span>
					</div>
					<div class="date">
						<img ng-src="./img/rating_1.png"/ ng-if="app.ratting == 0 || app.ratting == null">
						<img ng-src="./img/rating_1.png"/ ng-if="app.ratting ==1">
						<img ng-src="./img/rating_2.png"/ ng-if="app.ratting ==2">
						<img ng-src="./img/rating_3.png"/ ng-if="app.ratting ==3">
						<img ng-src="./img/rating_4.png"/ ng-if="app.ratting ==4">
						<img ng-src="./img/rating_5.png"/ ng-if="app.ratting ==5"> 
						
					</div>
				</div>
			</div>
		</div>
	</div>

</div>
