<div id="configuracion" class="panel contenedor" ng-controller="ConfiguracionCtrl">
    <header>
        <div class="panel_header">
            <h3 class="login_icon2">Configuración</h3>
            <div class="popup_closer" ng-click="closePanelWithId('configuracion')"></div>
        </div>
    </header>

    <div class="contenido config">
    <select ng-model="barriosFiltrados.selectedOption" ng-options="barrio for barrio in barriosFiltrados.availableOptions" style="
    margin-top: 50px;
    height: 2.5em;
">
    </select>

        <p class="textoConfig">En esta opción podrá filtrar las propuestas por barrios.</p>

    </div>
</div>
