<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="../styles/normalize.css">
  <link rel="stylesheet" href="../styles/estilos.css">
  <script type="text/javascript" src="../scripts/vendor/jquery.min.js"></script>
  <script type="text/javascript" src="../scripts/vendor/funciones.js"></script>
  <script type='text/javascript' src="../scripts/vendor/fastclick.js"></script>


  <title>Home</title>
</head>

<body>
  <header>
    <a href="#" class="icono_menu"><img src="../img/menu.svg">
    </a>
    <h1>List of polls </h1>
  </header>
  
  <div class="contenedor" ng-controller="menuCtrl">
    <nav id="menu">
      <ul>
        <img src="../img/logo.png" alt="">
        <li><a href="index.html">Poll list</a>
        </li>
        <li><a href="login.html">Login</a>
        </li>
        <li><a href="mypolls.html">My polls</a>
        </li>
        <li><a href="categories.html">Categories</a>
        </li>
      </ul>
    </nav>
    <ul class="lista_poll" ng-repeat="poll in encuestas" >
      <li>
        <div class="elemento_poll">
          <h2>Create a new green area in the city</h2>
          <dl>
            <dt>Poll ends: </dt>
            <dd>2015-09-30</dd>
          </dl>
          <div class="votos"><img src="../img/icono_poll.svg" alt="">
            <div class="num_votos">
              <img src="../img/voto_activo.svg">
              <p>124</p>
            </div>
          </div>
        </div>
        <div class="votar">
          <div class="result"><a href="poll_results_after.html">Results</a>
          </div>
          <div class="vote disable"><a href="#">Voted</a>
          </div>
        </div>
      </li>
             <li>
        <div class="elemento_poll">
          <h2>Plant a Tree</h2>
          <dl>
            <dt>Poll ends: </dt>
            <dd>2015-06-30</dd>
          </dl>
          <div class="votos"><img src="../img/icono_poll.svg" alt="">
            <div class="num_votos">
              <img src="../img/voto_activo.svg">
              <p>20</p>
            </div>
          </div>
        </div>
        <div class="votar">
          <div class="result"><a href="poll_results_2.html">Results</a>
          </div>
          <div class="vote disable"><a href="#">Voted</a>
          </div>
        </div>
      </li>
      <li>
        <div class="elemento_poll">
          <h2>Location for a concert</h2>
          <dl>
            <dt>Poll ends: </dt>
            <dd>2015-06-20</dd>
          </dl>
          <div class="votos"><img src="../img/icono_poll.svg" alt="">
            <div class="num_votos">
              <img src="../img/voto_activo.svg">
              <p>21</p>
            </div>
          </div>
        </div>
        <div class="votar">
          <div class="result"><a href="poll_results.html">Results</a>
          </div>
          <div class="vote disable"><a href="#">Voted</a>
          </div>
        </div>
      </li>
      <li>
        <div class="elemento_poll">
          <h2>Renew old building</h2>
          <dl>
            <dt>Poll ends: </dt>
            <dd>Closed</dd>
          </dl>
          <div class="votos"><img src="../img/icono_poll_closed.png" alt="">
            <div class="num_votos">
              <img src="../img/voto_activo.svg">
              <p>12</p>
            </div>
          </div>
        </div>
        <div class="votar">
          <div class="result"><a href="poll_results.html">Results</a>
          </div>
          <div class="vote disable"><a href="#l">Voted</a>
          </div>
        </div>
      </li>
       <li>
        <div class="elemento_poll">
          <h2>Bad illumination in Delicias</h2>
          <dl>
            <dt>Poll ends: </dt>
            <dd>2015-12-01</dd>
          </dl>
          <div class="votos"><img src="../img/icono_poll.svg" alt="">
            <div class="num_votos">
              <img src="../img/voto_activo.svg">
              <p>8</p>
            </div>
          </div>
        </div>
        <div class="votar">
          <div class="result"><a href="poll_results.html">Results</a>
          </div>
          <div class="vote disable"><a href="#">Voted</a>
          </div>
        </div>
      </li>
        <li>
        <div class="elemento_poll">
          <h2>More buses at night</h2>
          <dl>
            <dt>Poll ends: </dt>
            <dd>Closed</dd>
          </dl>
          <div class="votos"><img src="../img/icono_poll_closed.png" alt="">
            <div class="num_votos">
              <img src="../img/voto.svg">
              <p>5</p>
            </div>
          </div>
        </div>
        <div class="votar">
          <div class="result"><a href="poll_results_3.html">Results</a>
          </div>
          <div class="vote disable"><a href="#">Closed</a>
          </div>
        </div>
      </li>
       <li>
        <div class="elemento_poll">
          <h2>Best location for a new swimming pool</h2>
          <dl>
            <dt>Poll ends: </dt>
            <dd>2016-01-01</dd>
          </dl>
          <div class="votos"><img src="../img/icono_poll.svg" alt="">
            <div class="num_votos">
              <img src="../img/voto_activo.svg">
              <p>15</p>
            </div>
          </div>
        </div>
        <div class="votar">
          <div class="result"><a href="poll_results.html">Results</a>
          </div>
          <div class="vote disable"><a href="#">Voted</a>
          </div>
        </div>
      </li>
        <li>
        <div class="elemento_poll">
          <h2>Next app from Zaragoza City Council</h2>
          <dl>
            <dt>Poll ends: </dt>
            <dd>2015-06-30</dd>
          </dl>
          <div class="votos"><img src="../img/icono_poll.svg" alt="">
            <div class="num_votos">
              <img src="../img/voto_activo.svg">
              <p>8</p>
            </div>
          </div>
        </div>
        <div class="votar">
          <div class="result"><a href="poll_results.html">Results</a>
          </div>
          <div class="vote disable"><a href="#">Voted</a>
          </div>
        </div>
      </li>
        <li>
        <div class="elemento_poll">
          <h2>More spaces for dogs</h2>
          <dl>
            <dt>Poll ends: </dt>
            <dd>2015-07-01</dd>
          </dl>
          <div class="votos"><img src="../img/icono_poll.svg" alt="">
            <div class="num_votos">
              <img src="../img/voto_activo.svg">
              <p>1</p>
            </div>
          </div>
        </div>
        <div class="votar">
          <div class="result"><a href="poll_results.html">Results</a>
          </div>
          <div class="vote disable"><a href="#">Voted</a>
          </div>
        </div>
      </li>
       <li>
        <div class="elemento_poll">
          <h2>Places for parking bikes</h2>
          <dl>
            <dt>Poll ends: </dt>
            <dd>2015-09-01</dd>
          </dl>
          <div class="votos"><img src="../img/icono_poll.svg" alt="">
            <div class="num_votos">
              <img src="../img/voto_activo.svg">
              <p>1</p>
            </div>
          </div>
        </div>
        <div class="votar">
          <div class="result"><a href="poll_results.html">Results</a>
          </div>
          <div class="vote disable"><a href="#">Voted</a>
          </div>
        </div>
      </li>
      
      

    </ul>
  </div>
</body>

</html>