<div id="mypolls" class="panel contenedor" ng-controller="mypollsCtrl">
	<header>
		<div class="icono_menu" ng-click="clickMenuIcon()">
			<img src="img/menu.svg">
		</div>
		<h1>Mis Propuestas</h1>
	</header>
 
    <ul class="lista_poll">
      <li ng-repeat="poll in mypolls | orderBy:'creationDate':true" >
        	<div id="indexmypoll_{{$index}}"  ng-click="showMyPollopt(poll,{{$index}})">
				<div class="elemento_poll">
					<h2>{{poll.title}}</h2>
					<dl>
						<dt>Fecha:</dt>
						<dd>{{poll.creationDate | date:'yyyy-MM-dd'}}</dd>
					</dl>

				</div>
				<div class="votos">
					<img src="img/icono_poll.svg" alt="">
					<div class="num_votos">
						<img ng-if="!poll.votoUsuario" src="img/voto.svg"> <img
							ng-if="poll.votoUsuario" src="img/voto_activo.svg">
						<p ng-if="poll.votosAFavor || poll.votosEnContra">{{poll.votosAFavor
							+ poll.votosEnContra}}</p>
						<p ng-if="!poll.votosAFavor && !poll.votosEnContra">0</p>
					</div>
				</div>
				<div id="indexmypollvotar_{{$index}}" class="votar">
					<div class="result" ng-click="showResults(poll)">
						<a>resultados</a>
					</div>
					<div class="vote" ng-click="showDetails(poll)">
						<a>detalle</a>
					</div>
				</div>
			</div>
      </li>  
    </ul>
  </div>
