<!-- MAIN MENU -->

<div id="black_fader"></div>
<div id="main_menu"  ng-controller="navCtrl">

	 <nav id="menu" ng-click="clickMenu()">
      <ul><img src="img/logo.png" alt="">
        <li ng-click="openList()">
			<a>Propuestas </a>
		
        </li>
        <li ng-click="openLogin()" ng-if="!logged">
			<a>Login</a>
		
        </li>
        <li ng-click="openMypolls()" ng-if="logged">
			<a>Mis propuestas</a>
		
        </li>
        <li ng-click="openCategories()">
			<a>Categorias</a>
		
        </li>
          <li ng-click="openNewpoll()" ng-if="logged">
			<a>Nueva Propuesta</a>
		
        </li>
        </li>
      </ul>
    </nav>

</div>