<!-- NEW USER -->
<div ng-controller="profileCtrl">
	<div id="new_user">
		<div class="panel">
			<div class="panel_header">
				<h3 class="profile_icon">Nuevo Usuario</h3>
				<div class="popup_closer" ng-click="closePanelWithId('new_user')"></div>
			</div>

			<div class="panel_body">
					<form name="newUserForm" method="post">
						<div class="panel_option">

							<div class="form_line">
								

									<input type="text" placeholder="Nombre (Obligatorio)" ng-model="profileData.name"  />

							</div>
							<div class="form_line">
								
									<input type="text" placeholder="N&uacute;mero de telefono" ng-model="profileData.phone" />
								
							</div>
							<div class="form_line">
								
									<input type="text" placeholder="Correo electr&oacute;nico (Obligatorio)" ng-model="profileData.email" />
								
							</div>
							<div class="form_line">
								
									<input type="password" placeholder="Password  (Obligatorio)" ng-model="profileData.password" />
								
							</div>
							<div class="form_line">
								
									<input type="password" placeholder="Repite password" ng-model="profileData.passwordConfirm" />
								
							</div> 
							<div class="form_line">
								
								
									<input type="text" placeholder="Direcci&oacute;n" ng-model="profileData.user_address" />
								
							</div>
							<div class="form_line">
								
									<input type="text" placeholder="Ciudad" ng-model="profileData.city" />
								
							</div>
							<div class="form_line">
								
									<input type="text" placeholder="Pa&iacute;s" ng-model="profileData.country" />
								
							</div>
							<div class="form_line">
								
									<input type="text" placeholder="C&oacute;digo Postal" ng-model="profileData.zipcode" />
								
							</div>
							<div class="form_line">
								
									<input type="text" placeholder="DNI" ng-model="profileData.nif" />
								
							</div>


						</div>


						<div class="save_profile">
						<input value="Crear" type="submit" ng-click="createNewUser()">
							<!-- <div class="update_button" ng-click="saveProfile()">Entrar</div> -->
						</div>
					</form>
				</div>
			</div>
		</div>
		</div>
		