<div id="details" class="panel contenedor" ng-controller="resultsCtrl">
    <header>
        <div class="icono_menu" ng-click="clickBackOn('details')">
            <img src="img/volver.svg">
        </div>
        <h1>Detalle de Propuesta</h1>
    </header>
    <div class="contenido">
        <h2>{{selectedPoll.title}}</h2>
        <div class="encuestaDetalle">
            <dl>
                <dt ng-if="selectedPoll.start">Fecha comienzo: </dt>
                <dd ng-if="selectedPoll.start">{{selectedPoll.start | date:'yyyy-MM-dd HH:mm'}}</dd>
                <dt ng-if="selectedPoll.end">Fecha final: </dt>
                <dd ng-if="selectedPoll.end">{{selectedPoll.end | date:'yyyy-MM-dd HH:mm'}}</dd>
                <dt>Total votos: </dt>
                <dd>{{selectedPoll.votosAFavor + selectedPoll.votosEnContra}} votos</dd>
                <dt>Categoria: </dt>
                <dd>{{selectedPoll.category}}</dd>
                <dt>Fecha Creaci&oacute;n: </dt>
                <dd>{{selectedPoll.creationDate | date:'yyyy-MM-dd HH:mm'}}</dd>
                <dt>Aportaciones: </dt>
                <dd ng-if="selectedPoll.aportaciones">Si</dd>
                <dd ng-if="!selectedPoll.aportaciones">No</dd>
                <dt>Tipo: </dt>
                <dd>{{selectedPoll.type}}</dd>
            </dl>
            <div ng-bind-html="selectedPoll.description"></div>
            <div class="share_box">
                <div class="label_comparte">Si te gusta, comparte:</div>
                <div class="social" ng-if="facebookInstalled" ><img alt="" src="">
                    <img alt="" src="./img/social_face_on.png" ng-click="shareFacebook(selectedPoll.title)"/>
                </div>
                <div class="social" ng-if="!facebookInstalled">
                    <img alt="" src="./img/social_face_off.png" />
                </div>
                <div class="social" ng-if="twitterInstalled" >
                    <img alt="" src="./img/social_twitter_on.png" ng-click="shareTwitter(selectedPoll.title)"/>
                </div>
                <div class="social" ng-if="!twitterInstalled">
                    <img alt="" src="./img/social_twitter_off.png" />
                </div>
                <div class="social" ng-if="whatsappInstalled" >
                    <img alt="" src="./img/social_wat_on.png" ng-click="shareWhatsapp(selectedPoll.title)"/>
                </div>
                <div class="social" ng-if="!whatsappInstalled">
                    <img alt="" src="./img/social_wat_off.png" />
                </div>
                <div class="social" >
                    <img alt="" src="./img/social_share.png" ng-click="shareGlobal(selectedPoll.title)"/>
                </div>
            </div>
        </div>
        <form name="newpollForm" method="post">
            <div id="newaportacion" class="linea_formulario" style="display: none;">
                <textarea placeholder="Aportacion" ng-model="newaportacion.comment"></textarea>
            </div>
            <div id="shownewaportacion" class="linea_formulario" ng-click="showNewAportacion()">
                <input type="submit" value="Crear Nueva aportacion">
            </div>
            <div id="sendaportacion" class="linea_formulario" style="display: none;">
                <div ng-click="createAportacion()">
                    <input type="submit" value="Enviar aportacion">
                </div>
                <div ng-click="cancelAportacion()">
                    <input type="submit" value="Cancelar">
                </div>
            </div>
        </form>
        <ul class="comentarios">
            <li ng-repeat="aportacion in aportaciones">
                <p>{{aportacion.comment}}</p>
                <p class="usuario">{{aportacion.username}}</p>
                <ul ng-if="!aportacion.votoUsuario" class="voto_comentario">
                    <li class="favor" ng-click="voteAportacion(aportacion.id,'a-favor')">A favor <span ng-if="aportacion.votosAFavor">{{aportacion.votosAFavor}}</span><span ng-if="!aportacion.votosAFavor">0</span></li>
                    <li class="contra" ng-click="voteAportacion(aportacion.id,'en-contra')">En Contra <span ng-if="aportacion.votosEnContra">{{aportacion.votosEnContra}}</span><span ng-if="!aportacion.votosEnContra">0</span></li>
                </ul>
                <ul ng-if="aportacion.votoUsuario" class="voto_comentario">
                    <li class="favor" ng-click="message('Ya ha votado esta aportaci&oacute;n')">A favor <span ng-if="aportacion.votosAFavor">{{aportacion.votosAFavor}}</span><span ng-if="!aportacion.votosAFavor">0</span></li>
                    <li class="contra" ng-click="message('Ya ha votado esta aportaci&oacute;n')">En Contra <span ng-if="aportacion.votosEnContra">{{aportacion.votosEnContra}}</span><span ng-if="!aportacion.votosEnContra">0</span></li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="voteOption">
        <p ng-show="!isClosed(selectedPoll.end) && (selectedPoll.votoUsuario || optionSelected) " class="opcionSelec" content="a" style="position: absolute;">{{optionSelected}}</p>
        <a ng-hide="!isClosed(selectedPoll.end) && logged && selectedPoll.votoUsuario || isClosed(selectedPoll.end)" id="vota" ng-click="tapEvent()" href="#"><img src="img/mano_gris.svg"><span>Ver opciones de voto</span>
        </a>
        <div class="encuestaOpciones">
            <ol class="voteList">
                <!--    <li ng-repeat="option in selectedPoll.options | orderBy: '-name'"><a href="#" id="opcion" ng-click="setOption(option)">{{option.description}}</a>

          </li>-->
                <li> <a href="#" ng-click="setOption('a-favor')">A favor</a></li>
                <li> <a href="#" ng-click="setOption('en-contra')">En contra</a></li>
            </ol>
        </div>
        <div class="enviado">Su voto ha sido emitido.</div>
    </div>
    <div class="botonera">
        <div class="result" ng-click="showResults()"><a>Resultados</a>
        </div>
        <div class="setVote disabled">
            <a href="#" ng-if="isClosed(selectedPoll.end)" ng-click="cerrada()">Cerrada</a>
            <a href="#" ng-if="!logged" ng-click="notLoggedIn()">No logado</a>
            <a href="#" ng-if="logged && selectedPoll.votoUsuario" ng-click="alreadyVoted()">Votado</a>
            <a href="#" ng-if="logged && !selectedPoll.votoUsuario && !optionSelected" ng-click="noSelection()">Selecciona</a>
            <a href="#" ng-if="logged && !selectedPoll.votoUsuario && optionSelected" ng-click="setVote()">Votar</a>
        </div>
    </div>
</div>
