<div id="results" class="panel contenedor" ng-controller="resultsCtrl">
	<header>
		<div class="icono_menu" ng-click="clickBackOn('results')">
			<img src="img/volver.svg">
		</div>
		<h1>Resultados</h1>
	</header>

    <div class="contenido">
      <h2>{{selectedPoll.title}}</h2>
       <div class="tap" ng-click="showDetails()">Ver descripci&oacute;n
          </div>

    </div>
    <div class="voteResults">
      <ul >
        <!--  <li ng-repeat="option in selectedPoll.options | orderBy: '-votes'" class="selec"><span class="resultado_{{$index + 1}}" ng-click="showOption(option)" >{{option.name}}</span>{{option.votes}}</li>-->
	      <li><span class="resultado_1" >&uarr;</span>{{porcentajeAFavor}} %</li>
	      <li><span class="resultado_2" >&darr;</span>{{porcentajeEnContra}} %</li>
	      
      </ul>
      <div class="chart-total">Votos<br/> <span>{{selectedPoll.votosAFavor + selectedPoll.votosEnContra}}</span></div>
      <canvas id="doughnut" width="50" height="20" class="chart chart-doughnut" data="data" labels="labels"></canvas>
    </div>
   <!-- <div class="resultInfo">
      <p><strong>{{selectedPoll.votosAFavor}}</strong><span class="resultado_1">{{showOption.name}}</span> </p>
      <p><strong>Voted:</strong>  {{showOption.votes}} times ({{percentage}}% of total votes)</p>
      <p class="descripcion">{{showOption.description}}</p>
    </div> --> 
  </div>

