<div id="pollList" class="panel contenedor" ng-controller="menuCtrl">
    <header>
        <div ng-show="!estaCategoriaAbierta" class="icono_menu" ng-click="clickMenuIcon()">
            <img src="img/menu.svg">
        </div>
        <div ng-show="estaCategoriaAbierta" class="icono_menu" ng-click="clickBackOn('details')">
            <img src="img/volver.svg">
        </div>
        <h1>Propuestas  </h1>
        <!-- <span class="numElementos">({{encuestas.length}})</span> -->
        <div style="background: transparent url(&quot;../www/img/fondo_tag.png&quot;) no-repeat scroll left top; color: rgb(255, 255, 255); position: absolute; right: 0px; top: 0.5em; text-align: right; line-height: 2.2em; padding: 0px 0.5em 0px 2em;" class="tag"><span class="ng-binding">{{encuestas.length}}</span></div>
    </header>

	<ul class="lista_poll"  >
      <li ng-repeat="poll in encuestas | orderBy:'creationDate':true" >
			<div id="indexpoll_{{$index}}"  ng-click="showPollopt(poll, $index)">
				<div class="elemento_poll">
					<h2 ng-bind-html="poll.title"></h2>
					<dl>
						<dt>Fecha:</dt>
						<dd>{{poll.creationDate | date:'yyyy-MM-dd'}}</dd>
					</dl>

				</div>
				<div class="votos">
					<img src="img/icono_poll.svg" alt="">
					<div class="num_votos">
						<img ng-if="!poll.votoUsuario" src="img/voto.svg"> <img
							ng-if="poll.votoUsuario" src="img/voto_activo.svg">
						<p ng-if="poll.votosAFavor || poll.votosEnContra">{{poll.votosAFavor
							+ poll.votosEnContra}}</p>
						<p ng-if="!poll.votosAFavor && !poll.votosEnContra">0</p>
					</div>
				</div>
				<div id="indexpollvotar_{{$index}}" class="votar">
					<div class="result" ng-click="showResults(poll)">
						<a>resultados</a>
					</div>
					<div class="vote" ng-click="showDetails(poll)">
						<a>detalle</a>
					</div>
				</div>
			</div>
		</li>     
    </ul>
</div>